.header__library {
  background-color: black;
  background-image: linear-gradient(
      to bottom,
      rgba(26, 26, 31, 0.5) 20%,
      rgba(0, 0, 0, 0.56) 90%
    ),
    url(../images/library.jpg);
  background-size: cover;
  background-position: center bottom;
  font-family: 'Roboto', sans-serif;
  height: 230px;
}

.header__container-library {
  padding: 40px 71px 10px 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.library-header__button {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: $white;
  background: transparent;
  border-radius: 5px;
  border: 1px solid $white;
  box-sizing: border-box;
  cursor: pointer;
  height: 44px;
  width: 136px;

  &:hover,
  &:focus,
  &:active,
  &--active {
    border: none;
    background-color: $orange-primary;
  }
}

.library-header__buttons-list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 15px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .header__container-library {
    padding: 40px 75px 30px 75px;
  }
}

@media (max-width: 475px) {
  .header__container-library {
    padding: 40px 20px 30px 20px;
  }

  .library-header__buttons-list {
    padding: 0;
  }
}
