.movies {
  width: 1024px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#movie-container {
  width: 882px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
  list-style: none;
  margin: auto;
  padding: 0;

  img {
    width: 274px;
    height: 398px;
    object-fit: cover;
    border-radius: 5px;
    aspect-ratio: 2/3;
    cursor: pointer;
  }
}

.movie-title {
  margin-top: 10px;
  color: $black-primary;
  text-transform: uppercase;
}

.release-year-genres {
  margin-top: 0;
  color: $orange-primary;
}

.movie-title,
.release-year-genres {
  width: 274px;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  line-height: 1.33;
}
