.movies {
  width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 320px) {
    padding: 20px 0px 40px 0px;
  }
  @media screen and (min-width: 768px) {
    padding: 60px 0px;
  }
}

#movie-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  gap: 30px;
  @media screen and (min-width: 320px) {
    padding: 0px 20px;
  }
  @media screen and (min-width: 768px) {
    padding: 0px 76px;
  }
  @media screen and (min-width: 1024px) {
    padding: 0px 71px;
    justify-content: flex-start;
  }
  & img {
    height: 398px;
    cursor: pointer;
    @media screen and (min-width: 320px) {
      width: 280px;
      aspect-ratio: 280/398;
    }
    @media screen and (min-width: 768px) {
      width: 294px;
      aspect-ratio: 294/398;
    }
    @media screen and (min-width: 1024px) {
      width: 274px;
      aspect-ratio: 274/398;
    }
  }
}

.movie-title {
  margin-top: 10px;
  color: $black-primary;
  text-transform: uppercase;
}

.release-year-genres {
  margin-top: 0;
  color: $orange-primary;
}

.movie-title,
.release-year-genres {
  width: 274px;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  line-height: 1.33;
}
