.pg-container {
  margin-top: 50px;
}

.pg-btn {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: $white;
  border: none;
  cursor: pointer;
  color: $black-primary;
  &:hover,
  &:focus,
  &:focus-visible,
  &:focus-within {
    background-color: $orange-primary;
    color: $white;
    stroke: $white;
    &.disabled {
      background-color: $gray-footer-bg;
      cursor: default;
      color: $black-primary;
    }
  }
  &__dot {
    cursor: default;
    &:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
      background-color: transparent !important;
      color: $black-primary;
    }
  }
  &__arrow {
    background-color: $gray-footer-bg;
  }
}

.pg-active {
  background-color: $orange-primary;
  color: $white;
}

.disabled {
  opacity: 0.5;
}

.arrow {
  fill: none;
  stroke: $black-primary;
}
