<footer class="footer">
  <p class="text">
    © 2020 | All Rights Reserved | Developed with
    <svg class="svg-close-modal" alt="Heart icon">
      <use href="./images/symbol-defs.svg#filmoteka-heart"></use>
    </svg>
    by
    <a class="text_link" id="goitLink" href="#" title="GoIT Students"
      >GoIT Students</a
    >
  </p>
</footer><div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p class="modal_title">CodeCommanders TEAM:</p>
    <ul class="gallery">
      <li class="student">
        <img
          class="student_image"
          src="/src/images/logo.png"
          alt="Imagen de Alejandra Madera"
        />
        <h3 class="student_name">Alejandra Madera</h3>
        <a
          class="student_link"
          href="enlace-al-github-del-estudiante-1"
          target="_blank"
          >GitHub</a
        >
      </li>
      <li class="student">
        <img
          class="student_image"
          src="/src/images/logo.png"
          alt="Imagen de Eduardo Maya"
        />
        <h3 class="student_name">Eduardo Maya</h3>
        <a
          class="student_link"
          href="enlace-al-github-del-estudiante-1"
          target="_blank"
          >GitHub</a
        >
      </li>
      <li class="student">
        <img
          class="student_image"
          src="/src/images/logo.png"
          alt="Imagen de Johan Devia"
        />
        <h3 class="student_name">Johan Devia</h3>
        <a
          class="student_link"
          href="enlace-al-github-del-estudiante-1"
          target="_blank"
          >GitHub</a
        >
      </li>
      <li class="student">
        <img
          class="student_image"
          src="/src/images/logo.png"
          alt="Imagen de Jonathan Pabón"
        />
        <h3 class="student_name">Jonathan Pabón</h3>
        <a
          class="student_link"
          href="enlace-al-github-del-estudiante-1"
          target="_blank"
          >GitHub</a
        >
      </li>
      <li class="student">
        <img
          class="student_image"
          src="/src/images/logo.png"
          alt="Imagen de Juan Urbina"
        />
        <h3 class="student_name">Juan Urbina</h3>
        <a
          class="student_link"
          href="enlace-al-github-del-estudiante-1"
          target="_blank"
          >GitHub</a
        >
      </li>
      <li class="student">
        <img
          class="student_image"
          src="/src/images/Leider_photo.jpg"
          alt="Imagen de Leider Páez"
        />
        <h3 class="student_name">Leider Páez</h3>
        <a
          class="student_link"
          href="https://github.com/LeiderIP"
          target="_blank"
          >GitHub</a
        >
      </li>
      <li class="student">
        <img
          class="student_image"
          src="/src/images/logo.png"
          alt="Imagen de Marcela Abreu"
        />
        <h3 class="student_name">Marcela Abreu</h3>
        <a
          class="student_link"
          href="enlace-al-github-del-estudiante-1"
          target="_blank"
          >GitHub</a
        >
      </li>
      <li class="student">
        <img
          class="student_image"
          src="/src/images/logo.png"
          alt="Imagen de Sandra E"
        />
        <h3 class="student_name">Sandra E</h3>
        <a
          class="student_link"
          href="enlace-al-github-del-estudiante-1"
          target="_blank"
          >GitHub</a
        >
      </li>
    </ul>
    <div class="pagination">
      <button class="pag_button" id="prevPage">←</button>
      <span id="currentPage">Page 1</span>
      <button class="pag_button" id="nextPage">→</button>
    </div>
  </div>
</div>

