<header class="header">
  <div class="header__container">
    <div>
      <svg class="header__icon" width="24" height="24">
        <use href="./images/symbol-defs.svg#filmoteka-film"></use>
      </svg>
      <a href="./index.html" class="header__page-name">Filmoteka</a>
    </div>
    <nav>
      <ul class="header__list">
        <li>
          <a href="#" id="homeBtn" class="header__items active">Home</a>
        </li>
        <li id="library">
          <a href="#" id="libraryBtn" class="header__items">My library</a>
        </li>
        <li>
          <a class="header__items" sign-up-g>Sign UP with GOOGLE</a>
          <a class="header__items is-hidden" id="log-out-btn">Log Out</a>
        </li>
      </ul>
    </nav>
  </div>

  <include src="./partials/header-search.html"></include>
  <include src="./partials/header-btns.html"></include>
</header>
