<div class="headerBtns is-hidden">
  <ul class="library-header__buttons-list">
    <li class="header__user-item">
      <button
        id="watched-btn"
        name="watched"
        class="library-header__button library-header__button--active"
        type="button"
      >
        Watched
      </button>
    </li>
    <li class="header__user-item">
      <button
        id="queue-btn"
        name="queue"
        class="library-header__button"
        type="button"
      >
        Queue
      </button>
    </li>
  </ul>
</div>
